
@font-face {
    font-family: "FontsFree-Net-WorkSans-ExtraLight";
    src: url(../Polices/FontsFree-Net-WorkSans-ExtraLight.ttf);
}


.Logo{
    height: 5em;
}
.ImageVoletNavigation{
    height: 3em;
}

.HautPage{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}


.VoletNavigation{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}

.MillieuxPages{
    margin-top: 15em ;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ConteneurPaneauBienvenue{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h1{
font-family: "FontsFree-Net-WorkSans-ExtraLight" ;
text-align: center;
color: darkgreen;
font-size: 3em;
}

.Infographie{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: solid black;
    padding: 2em;
}

h2{
    font-family: "FontsFree-Net-WorkSans-ExtraLight" ;
    text-align: center;
    color: black;
    font-size: 1em;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50em;
    align-content: center;
    gap: 3em;
    
}

.Millieuxinfographie{
    margin-top: 5em;
    display: flex;
    flex-direction: row;
    justify-content: center; 
}

.BlockVideo{
    margin-top: 5em;
    display: flex;
    flex-direction: row;
    justify-content: center; 
}


.VideoTexte{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.Titre{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.paragraphe{
    
}