
@font-face {
    font-family: "FontsFree-Net-WorkSans-ExtraLight";
    src: url(../Polices/FontsFree-Net-WorkSans-ExtraLight.ttf);
}

:root{
    --NavBar-background-color: #f2f2f2;
    --NavBar-separator-color: #ececec;
    --NavBar-icon-color: #646c79;
    --NavBar-text-color: black;
    --NavBar-transition-speed: .2s;
    --NavBar-item-hovered-color:white;
    --primary-color : darkgreen;
    --NavBar-logo--background-color:#e2dfe4;
}


html body{
    margin: 0;
    font-family: "FontsFree-Net-WorkSans-ExtraLight";
    


}


main{
    padding: 1rem 4rem;
    margin-left:  5rem;
    text-align: justify;
}

.NavBar{
    width: 5rem;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: var(--NavBar-background-color);
    box-shadow: rgba(12, 43, 30, 0.2);
    transition:width var(--NavBar-transition-speed) ease;
}


.NavBar:hover{
    width: 15rem;
}


.NavBarMenu{
list-style: none;
padding: 0;
margin: 0;
display: flex;
flex-direction: column;
align-items: center;
height: 100%;
}

.NavBarItem{
    width: 100%;
    border-bottom: solid 1px var(--NavBar-separator-color) ;
    
}
.NavBarItem:hover{
   background-color: var(--NavBar-item-hovered-color);
}

.NavBarItem :last-child{
   /* margin-top: auto; */
}

.NavBarLink{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-items: center;
    height: 5rem;
    width: 100%;
    text-decoration: none;

}
.NavBarIcon{
    text-align: center;
    font-size: 1.5rem;
    min-width: 2rem;
    margin: 0 1.5rem;
    color: var(--NavBar-icon-color);
}

.NavBarItem:hover .NavBarIcon {
    color: var(--primary-color);
}
.NavBarTitle{
    color: var(--NavBar-text-color);
    font-size: 1.2rem;
    
    
}

.NavBar:not(:hover) .NavBarTitle{
    display: none;
}


.Logo{
background: var(--NavBar-logo--background-color);
}

.Logo .NavBarTitle{
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 1.5rem;
    }
.NavBar:hover .Logo .navbar-icon{
    transform: rotate(180deg);
}






.MillieuxPages{
    margin-top: 15em ;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ConteneurPaneauBienvenue{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h1{
font-family: "FontsFree-Net-WorkSans-ExtraLight" ;
text-align: center;
color: darkgreen;
font-size: 3em;
}

.Infographie{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: solid black;
    padding: 2em;
}

.InfographieBis{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

h2{
    font-family: "FontsFree-Net-WorkSans-ExtraLight" ;
    text-align: center;
    color: black;
    font-size: 1em;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50em;
    align-content: center;
    gap: 3em;
    
}

.Millieuxinfographie{
    margin-top: 5em;
    display: flex;
    flex-direction: row;
    justify-content: center; 
}


.ConteneurMillieuVideo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ConteneurArticle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    block-size: 40em;
}

.ConteneurTitreParagraphe{
    display: flex;
    flex-direction: column;
    border: solid black;
    padding: 2em;
}

video{
  border: solid black;
}


p{
    color: black;
}

LogoMot{
    display: flex;
    justify-content: left;

}